# Порт, на котором будет слушать сервер
TODO_PORT=7540

# Путь к директории со статикой
WEB_DIR=./web

# Пароль для авторизации, если пароль  нужен, раскоментировать строку
#TODO_PASSWORD=11111
# Файл бд
TODO_DBFILE =./scheduler.db